main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}



.fix {
    width: 18rem;
    margin: 1rem;
    align-items:center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
    
}